{% extends 'base.html' %}
{% block content %}
    <div class="d-flex flex-column align-items-center">
        <h3 class="h3 mb-5">Suivre ou bloquer d'autres utilisateurs</h3>
        <div class="container d-flex flex-column align-items-center mb-2">
            <h5 class="h5">Suivre</h5>
            <div class="d-flex flex-column align-items-center">
                <form action="" method="post"
                      class="d-flex justify-content-center align-items-center gap-4 mb-3 d-flex align-items-center">
                    {% csrf_token %}
                    <div>
                        {{ follow_form.is_follow_form }}
                        {{ follow_form.username }}
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">Suivre</button>
                    </div>
                </form>
                <div class="mb-3">
                    {{ follow_message }}
                </div>
            </div>
        </div>
        <div class="container d-flex flex-column align-items-center mb-5">
            <h5 class="h5">Bloquer</h5>
            <div class="d-flex flex-column align-items-center">
                <form action="" method="post"
                      class="d-flex justify-content-center align-items-center gap-4 mb-3 d-flex align-items-center">
                    {% csrf_token %}
                    <div>
                        {{ block_form.is_block_form }}
                        {{ block_form.username }}
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">Bloquer</button>
                    </div>
                </form>
                <div class="mb-3">
                    {{ block_message }}
                </div>
            </div>
        </div>
        <div class="container d-flex flex-column align-items-center gap-2 mb-5">
            <h3 class="h3"> Abonnements</h3>
            {% for following_user in following_users %}
                <form action="" method="post"
                      class="d-flex justify-content-center align-items-center gap-4 mb-3 d-flex align-items-center">
                    {% csrf_token %}
                    <div>
                        {{ unfollow_form.is_unfollow_form }}
                        <input type="text" name="{{ unfollow_form.username.name }}"
                               value="{{ following_user.username }}" readonly class="form-control"/></div>
                    <div>
                        <button class="btn btn-primary" type="submit">Se désabonner</button>
                    </div>
                </form>
            {% endfor %}
        </div>
        <div class="container d-flex flex-column align-items-center gap-2">
            <h3 class="h3"> Abonnés </h3>
            {% for followed_by_user in followers %}
                <div class="d-flex justify-content-between align-items-center w-100 border rounded p-2">
                    {{ followed_by_user.username }}
                </div>
            {% endfor %}
        </div>
        <div class="container d-flex flex-column align-items-center gap-2">
            <h3 class="h3">Bloqués</h3>
            {% for blocked_user in blocked_users %}
                <form action="" method="post"
                      class="d-flex justify-content-center align-items-center gap-4 mb-3 d-flex align-items-center">
                    {% csrf_token %}
                    <div>
                        {{ unblock_form.is_unblock_form }}
                        <input type="text" name="{{ unblock_form.username.name }}"
                               value="{{ blocked_user.username }}" readonly class="form-control"/>
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">Débloquer</button>
                    </div>
                </form>
            {% endfor %}
        </div>
    </div>
{% endblock content %}