{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
    <section class="container d-flex justify-content-center gap-4 align-items-center mb-4 mt-4  ">
        <a class="btn btn-primary" href="{% url 'litrevu:create_review' %}">Créer une critique</a>
        <a class="btn btn-primary" href="{% url 'litrevu:create_ticket' %}">Demander une critique</a>
    </section>
    {% if items|length == 0 %}
        <section>
            <p class="alert alert-info">Il n'y a pas encore de post à afficher.</p>
        </section>
    {% else %}
        <section class="container">
            {% for item in items %}
                {% if item|hasattr:"rating" %}
                    {% include "review.html" with review=item personal_view=False %}
                {% else %}
                    {% include "ticket.html" with ticket=item personal_view=False %}
                {% endif %}
            {% endfor %}
        </section>
    {% endif %}
{% endblock content %}
