{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
    <h1 class="h1">POSTS</h1>
    {% for ticket in tickets %}
        <div>
            {{ ticket.title }}
            {{ ticket.time_created }}
            {{ ticket.description }}
            {% if ticket.image %}
                <img src="{{ ticket.image.url }}" alt="image">
            {% endif %}
        </div>
    {% endfor %}
    {% for review in reviews %}
        <div>
            {{ review.headline }}
            {{ review.rating }}
            {{ review.body }}
            {% if review.ticket.image %}
                <img src={{ review.ticket.image.url }} alt="image">
            {% endif %}
        </div>
    {% endfor %}
{% endblock content %}