{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form edit_ticket_form layout='floating' %}
        {% if ticket.image %}
            <div style="width: 200px; height: 200px;">
                <img class="w-100" src="{{ ticket.image.url }}"
                     alt="image du ticket">
            </div>
        {% endif %}
        <button class="btn btn-primary" type="submit">Modifier</button>
        <a class="btn btn-danger" href="{% url 'litrevu:home' %}">Annuler</a>
    </form>
{% endblock content %}